.download{
    text-align: center;
    margin-top: 2rem;
    background-color: #9A54BC;
    padding: 6rem 0 8rem 0;
    position: relative;
}

.download h2 {
    margin-bottom: 2rem;
    color: #FFFFFF;
    font-size: 2.5rem;
}

.download-buttons {
    position: absolute;
    width: 500px;
    display: flex;
    gap: 1rem;
}

.download-demo-button {
    flex: 1 1 0px;
    background-color: white;
    color: #9A54BC;
    border: white solid 2px;
}

.download-vendor-button, 
.download-site-button {
    text-align: center;
    flex: 1 1 0px;
    color: white;
    border: white solid 2px;
    
}

.center-download-buttons {
    display: flex;
    justify-content: center;
}