.help {
    text-align: center;
    margin-bottom: 5rem;
    position: relative;
}

.help p {
    font-size: 1.4rem;
    font-weight: 600;
    margin-bottom: 2rem;
    color: #000000;
}

.help-container {
    display: flex;
    justify-content: center;
    text-align: center;
}
.list {
    width: 50%;
    float: left;
    text-align: left;
}

.help-buttons {
    margin-bottom: 2rem;
}

.list li {
    font-size: 0.8rem;
    background-color: #F2F2F2;
    padding: 1rem 0.8rem;
    margin-bottom: 0.5rem;
    list-style: none;
}

.phone-container {
    float: right;
    width: 25%;
}

.help-container img {
    width: 11rem;
    height: 22.2rem;
}

.help-buttons div {
    display: inline-block;
    width: 11rem;
    padding: 0.2rem 0.5rem;
    border: #9A54BC 0.2rem solid;
    border-radius: 4px;
    font-size: 0.8rem;
    font-weight: 600;
    box-sizing: border-box;
}

.help-buttons div a {
    display: flex;
    justify-content: center;
}