.help {
    text-align: center;
    margin-bottom: 5rem;
    /* background-color: gray; */
}

.help p {
    font-size: 1.4rem;
    font-weight: 600;
    margin-bottom: 2rem;
    color: #000000;
}

.help-container {
    width: 70%;
    transform: translateX(27%);

}
.list {
    margin-right: 5%;
    width: 55%;
    float: left;
    height: 25rem;
    text-align: left;
}

.help-buttons {
    margin-bottom: 2rem;
}

.list li {
    font-size: 0.8rem;
    background-color: #F2F2F2;
    padding: 1rem 0.8rem;
    margin-bottom: 0.5rem;
    list-style: none;
}

.phone-container {
    float: right;
    width: 40%;
}

.help-container img {
    width: 11rem;
    height: 22.2rem;
}